@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: #242832;
  --color-foreground: #89a077;
  --color-terminal-text: #ffffff; /* Text color for terminal content */
  --color-terminal-accent: #718ca5; /* Symbol or accent text */
  --color-terminal-input: #dec083; /* Color for the input prompt ('$') */
  --color-error: #ff4d4f; /* Error message color */
  --color-system: #769f9e; /* System message color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "VT323", monospace; 
}

::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #242832;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/*Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
